.cloudbeds-admin {
    box-sizing: border-box;
}

.cloudbeds-form {
    background-color: #e6e6e6;
    padding: 30px 20px;

}

.cloudbeds-main {
    margin-top: 30px;
}

.cloudbeds-header {
    margin: 10px 0 20px 0;
    padding: 0 0 20px;
    border-bottom: 2px solid #d2d2d2;

    h1 {
        margin: 0 0 0.25em;
    }

    p {
        font-size: 1.3em;
        margin: 0;
    }
}

.cloudbeds-grid {
    display: grid;
    grid-template-columns: 450px 1fr;
    grid-gap: 15px;
    padding: 0 15px;

    @media (max-width: 800px) {
        grid-template-columns: 100%;
    }
}

.cloudbeds-main form {
    width: 100%;
    margin: 0 auto;

    input {
        width: 100%;
        margin: 5px 0;
    }

    input[type=submit] {
        padding: 10px;
        margin: 20px 0 0 0;
    }
}

.cloudbeds-main table {
    table-layout: fixed;
    width: 100%;
    text-align: left;
}